.thumb {
  position: relative; }
  .thumb .flags {
    position: absolute;
    left: 0;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .thumb .flags .flag.sale,
    .thumb .flags .flag.new {
      width: 40px;
      height: 40px;
      margin-top: 15px;
      background-color: #d2001a;
      background-image: none;
      color: #ffffff;
      border-radius: 50%;
      position: relative;
      text-align: center;
      line-height: 3.5rem;
      display: inline-block;
      font-weight: 600;
      font-size: 13px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-family: "Open Sans",sans-serif; }
      .thumb .flags .flag.sale::before,
      .thumb .flags .flag.new::before {
        content: '';
        position: absolute;
        top: 4px;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 4px;
        height: 4px;
        background-color: white;
        border-radius: 50%; }
      .thumb .flags .flag.sale::after,
      .thumb .flags .flag.new::after {
        content: '';
        position: absolute;
        top: -12px;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 1px;
        height: 18px;
        background-color: #dcdcdc; }
    .thumb .flags .flag.sale {
      background-color: #CD000B; }
    .thumb .flags .flag.new {
      background-color: #38A576; }

.thumb .flags .flag.new {
  background-color: #38A576; }

.thumb .flags .flag.sale {
  background-color: #CD000B; }